.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(148,148,148,.15);
    cursor:pointer;
}
.button > svg{
    color: red;
    width: 300px;
    height: auto;
    cursor:pointer;
}
.button:hover{
    cursor:pointer;
}
.button > svg:hover{
cursor:pointer;
}

@media (max-width:770px) {
    .button{
        background-color: white;
        transform: translateY(2px);
    }
    .button  svg {
        width: 17.92px;
        height: auto;
    }
}