.first{
    background-image: linear-gradient(to bottom,#0bf,#066bff);
    height: 960px; 
}


.content{
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
}

.home{
    position: relative;
}
body {
    overflow-x: hidden;
  }