

.popup{
  bottom: -10px;
  width: 320px;
  height: 286px;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
  position: absolute;
  color: rgba(0,0,0,.87);
  text-align: left;
  margin: 0;
  outline-color: #bdbdbd;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  border: 0;
border-radius: 8px;
background-color: white;
z-index: 102;
}



.arrow{
  border: solid black;
  position: absolute;
  border: solid white;
  border-width: 0 23px 23px 0;
  display: inline-block;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
}


.PopFirst{
  margin-top: 1.6rem;
  display: flex;
}


.popupImage{
  height: 60px;
  width: 60px;
  min-width: 60px;
  min-height: 60px;
  margin-left: 1.6rem;
}

.PopImg{
  width: 100%;
  border-radius: 4px;
}
.popSong{
  color: #242424;
  font-size: 16px;
  line-height: 22px;
  max-height: 44px;
}
.details{
  margin-left: 1.6rem;
}
.popArtist{
  color: #bdbdbd;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  max-height: 44px;
  letter-spacing: .5px;
  padding-bottom: .3rem;
}

.popSpan{
  color:#bdbdbd;
}
.popSpan > svg{
  margin-right: .7rem;
  margin-top: -.4rem;
  width: 1.6rem;
  height: auto;
}
.popSpan > span{
  padding-right: .2rem;

}
.popSpan>*{
  vertical-align: middle;
}




.popSecond{
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.popSecondItem{
  width: 140%;
  position: relative;
  height: auto;
  border-top: 1px solid #e4e4e4;
  padding-top: 1.1rem;
  padding-bottom: 1.35rem;
}

.popSecondItem > svg{
  margin-left: 1.5rem;
  margin-right: 1.4rem;
  height: 2rem;
  width: auto;
  color:#eee
}
.popSecondItem:hover svg{
  color: #08f;
}

.popSecondItem:hover{
background-color: #eee;
}
.popmusic{
  width: 54px ;
  height: auto;
  color: black;
  position:absolute;
  top:-.1rem;
  left:115px; 
}
.popSecondItem:hover .popmusic{
  color: black;
}

.responsivePopupWrap{
  position:fixed;
  left: 0px;
  bottom: 0px;
  top:0;
  right:0;
  z-index:6666;
  background-color: rgba(0, 0, 0, 0.75);
}
.responsivePopup{
  background-color: white;
  border: none;
  border-radius: 8px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 286.938px;
}

.responsivePopupWrap{
  display: none;
}

@media (max-width:770px) {
  .popup{
    display: none;
  }
  .arrow{
    display: none;
  }
  .responsivePopupWrap{
    display: block;
  }
  .popSecondItem{
    font-size: 1.4rem;
    color: rgba(0,0,0,.87);
  }
}